@import "normalize";
@import "common.scss";
@import "modal.scss";
@import "btn.scss";

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #020202;
  color: #CCCCCC;
  font-size: 24px;
  font-family: Arial, sans-serif;
}

h1 {
  margin-bottom: 48px;
  margin-top: 0;
}

.progress-bar {
  position: relative;
  height: 32px;
  width: 90%;
  background: #555;
  overflow: hidden;

  &__progress {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: #1e90ff;
  }

  &__text {
    position: absolute;
    font-size: 18px;
    line-height: 32px;
    width: 100%;
    text-align: center;
  }
}

.progress-bar {
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 8px;
  margin-top: 16px;
}
